<header class="welcome-header">
    <div>
        <h1>
            RESERVA DE LUGARES
        </h1>
        <p>
            Se deseja reservar um ou mais lugares neste evento por favor selecione o botão "AVANÇAR PARA RESERVA"
        </p>

        <a class="btn btn-primary btn-sim" href="/reservation/index">AVANÇAR PARA RESERVA</a>
    </div>
</header>
